.hg__header { 
	background-color: #FFD800;
	grid-area: header;
}
.hg__footer { 
	background-color: #FFD800;
	grid-area: footer;
}
.hg__main { 
	background-color: snow;
	grid-area: main;
}
.hg__left { 
	background-color: #E7E7E7;
	grid-area: navigation;
}
.hg__right { 
	background-color: #E7E7E7;
	grid-area: ads;
}

.hg {
	display: grid;
	grid-template-areas: "header header header"
	                     "navigation main ads"
	                     "footer footer footer";
	grid-template-columns: 150px 1fr 150px;
	grid-template-rows: 100px 
						1fr
						30px;
	min-height: 100vh;
}

@media screen and (max-width: 600px) {
	.hg {
		grid-template-areas: "header"
		                     "navigation"
		                     "main"
		                     "ads"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: 100px 
							50px 
							1fr
							50px 
							30px;
	}
}