.grid {

	display: grid;
	grid-template-rows: 4rem 4rem 4rem 4rem; /* Grid with 4 rows, each row of 4rem */
	grid-template-columns: repeat(8, 4rem); /* Grid with 8 columns, each column of 4rem */

	transform: rotate(-45deg);

	&__item {
		/* This rules are for numbers inside blocks */
		font-size: 2rem;
		font-family: sans-seriff;
		color: white;

		/* Using flex inside of grid for center elements */
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__item-1 {
		background-color: #009BB1;
	}

	&__item-2 {
		background-color: #EE8C1D;
		grid-column: 1; /* Moved item 2 to the column 1 */
	}

	&__item-3 {
		background-color: #05368C;
		grid-column: 1;
	}

	&__item-4 {
		background-color: #009135;
		grid-column: 1;
	}

	&__item-5 {
		background-color: #E22961;
	}

	&__item-6 {
		background-color: #5C66A5;
	}

	&__item-7 {
		background-color: #FCCC29;
	}

	&__item-8 {
		background-color: #62B9E4;
	}

	&__item-9 {
		background-color: #E1261C;
	}

	&__item-10 {
		background-color: #95CB22;
	}

	&__item-11 {
		background-color: #911C7F;
	}
}